.main-app {
  background-color: #eeeee8;
  height: 800px;
}

.main-app .row {
  height: 100%;
}

.main-app .del-button {
  width: 20px;
  height: 20px;
  border-width: 0;
  background-image: url("https://image.flaticon.com/icons/png/512/106/106830.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.main-app .side-panel {
  height: 100%;
}

.main-app .side-panel .rooms {
  background-color: #eeeee8;
  max-height: 100%;
}

.main-app .chat-window {
  height: 100%;
}

.main-app .chat-window .chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background-color: #ccccbd;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-app .chat-window .chat .message-border {
  height: 98%;
}

.main-app .chat-window .chat .message-box {
  height: 97%;
  width: 100%;
  overflow: hidden;
}

.main-app .chat-window .chat .message-box .message {
  background-color: #e6e6d4;
}

.main-app .chat-window .chat .message-box .message .message-info .message-created {
  display: inline;
}

.main-app .chat-window .chat .chat-input {
  width: 95%;
}

.main-app .login-form {
  font-weight: 600;
  font-size: 17px;
  color: black;
  background-color: #d8d7cc;
}

.slider::-webkit-scrollbar {
  width: 15px;
  background-color: #e6e3d5;
  border-radius: 3px;
}

.slider::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #a8a69a;
  border-radius: 3px;
}

@media (max-width: 765px) {
  .side-panel {
    height: auto !important;
    max-height: 40vh;
  }
  .chat-window {
    height: 42% !important;
  }
  .main-app {
    height: auto !important;
  }
  .main-app .chat-window .chat .message-box {
    max-height: 80vh;
  }
}
